.container {
	display: flex;
}
.point{
	display: block;
	width: 26px;
	height: 26px;
	margin-bottom: 5px;
}
.center {
	background-color: #00ACE0;
	border-radius: 50%;
}
.main{
	border-radius: 50%;
	border: solid 3px #00ACE0;
}
.point__header{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 11px;
}
.point__description{
	max-width: 100px ;
	font-size: 14px;
	font-weight: 400;
}
.line {
	margin: 0 17px;
	width: 90px;
	height: 2px;
}