$center: #1d1;
$point : #c22;
$line : #ccc;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root{
	margin-top: 50px;
}
.center {
	width: 50px;
	height: 50px;
	border-radius: 100%	;
	background-color: $center;
	margin: 0 auto;
}

.interface{
	width: 100%;
	height: 100%;
	position: relative;
}
.interface__child1{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: blue;
	text-align: center;
	line-height: 15px;
	cursor:pointer;
	color:white;
	position: absolute;
	top: 50%;
	right: -20%;
	transform: translate( 0, -50%);
}
.interface__child2{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: blue;
	text-align: center;
	line-height: 15px;
	cursor:pointer;
	color:white;
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translate( 0, -50%);
}